@font-face {
    font-family: "fs-head";
    src: url('Fonts/fira-sans.medium.ttf');
}

@font-face {
    font-family: "fs-p";
    src: url('Fonts/fira-sans.regular.ttf');
}
@font-face {
    font-family: "fs-b";
    src: url('Fonts/fira-sans.medium.ttf');
}

@font-face {
    font-family: "Ubuntu-B";
    src: url("Fonts/ubuntu/Ubuntu-B.ttf");
}
@font-face {
    font-family: "Ubuntu";
    src: url("Fonts/ubuntu/Ubuntu-R.ttf");
}
* {
  box-sizing: border-box;
}
body{
    /*background-image: url("Photos/Backgrounds/back-1.jpg");*/
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: #1A355B;
    font-family: 'fs-p';
    margin: 0px;
    justify-content: center;
}
b{
    font-family: "fs-b";
}
h1{
    font-family: "fs-head";
    font-size: 60px;
    margin-left: 30px;
}
h2{
  text-align: center;
  font-family: inherit;
  font-size: 1.5vw;
  margin-bottom: 1%;
}
h2.cal{
  text-align: center;
  font-family: inherit;
  font-size: 1.5vw;
}
small{
    font-family: "fs-p";
    font-size: .5vw;
    color: white;
    opacity: .50;
    margin-left: 1%;
    margin-top: 1%;
}
small-top{
    font-family: "fs-p";
    font-size: 10px;
    color: black;
    opacity: 1;
    padding: 1px;
    padding-bottom: 5px;
}
td a {
    display:block;
    width:100%;
    color: #091A32;
}
hidden{
    color: white;
}
td{
    border-collapse: collapse;
    text-align: center;
    padding: 20px;
    /*opacity: 0.750;*/
    background: rgba(255,255,255,0.80);
}
img{
    opacity: 1.00;
}
a{
    color: #091A32;
    text-decoration: none;
    font-size: 20px;
}
fieldset{
    background-color: white;
    color: #1A355B;
    border: solid #1A355B 5px;
    border-radius: 15px;
}
legend{
    background-color: #1A355B;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: solid #1A355B 2px;
    border-radius: 10px;
}
table {
    justify-content: center;
    width: 75%;
}

.invis{
    opacity: 0;
}

div.container{
    background-color: #000000;
}

div.container, #clock, #date{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#clock{
    font-size: 2vw;
    font-family: "Ubuntu-B", sans-serif;
}

#date{
    font-size: 1.25vw;
    font-family: "Ubuntu", sans-serif;
}

.dateTime {
    width: 10%;
    color: #FFFFFF;
    background-color: #000000;
    border: 1px white;
    border-radius: 15px;
    float: center;
}

div.weather{
    width: 70%;
    height: 10%;
    float: right;
}

table.timeAndWeather, td.timeAndWeather{
    background-color: black;
    color: white;
    border: 1px black;
    border-collapse: collapse;
}

div.row::after {
  content: "";
  display: table;
  clear: both;
}

div.column{
  float: left;
  padding: 2%;
}

div.column.left{
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    justify-content: left;
    width: 65%;
    background-color: rgba(0,0,0,0);
    padding-top: 2%;
    padding-bottom: 2.25%;
}

div.column.right{
  width: 35%;
  float: left;
}

div.card {
  width: 28%;
  height: 30vh;
  color: black;
  margin: 2%;
  padding-bottom: 1%;
  border-radius: 15px;
  background: rgba(255,255,255,0.80);
  overflow-block: clip;
}

div.card.cal{
  width: 100%;
  height: 65vh;
  margin: 2%;
  align-items: center;
  overflow-block: clip;
}

div.calcard {
  width: 44%;
  height: 30vh;
  color: black;
  margin: 2%;
  margin-bottom: 0%;
  padding-bottom: 1%;
  border-radius: 15px;
  background: rgba(255,255,255,0.80);
  overflow-block: clip;
}

ul{
  height: 75%;
  width: 90%;
  padding: 1%;
  list-style: none;
  overflow-block: auto;
  scrollbar-width: none;
}

li{
  padding: .5vw;
  margin: 2%;
  text-align: left;
  color: #091A32;
  text-decoration: none;
  font-size: 1vw;
}

li a{
    padding: .5vw;
    margin: 2%;
    text-align: left;
    color: #091A32;
    text-decoration: none;
    font-size: 1vw;
}

li a:hover{
  padding: .5vw;
  margin: 2%;
  background-color: rgba(180,180,180,0.80);
  border-radius: 15px;

}

p{
  font-size: 1vw;
  margin: 5%
  padding: .5vw;
  padding-left: 1.25vw;
  padding-right: 1.25vw;
  overflow-wrap: break-word;
}
